
@import url('componant/popup.css');
@import url('componant/sidebar.css');


* {
  

    box-sizing: border-box;
    font-family: cursive;
    }
    
body {
font-family: cursive;
}
    
a {
text-decoration: none;

}
    
li {
list-style: none;
}



